@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


.dropdown:hover .sub-dropdown {
  display: block;
}

 


.sub-dropdown {
  position: relative;
  display: inline-block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Change 'right' to '100%' to make it appear on the left */
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}



/* Style for the dropdown button */
.dropbtn {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(23, 23, 23, 0.2);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

#show-features{
  display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
}


:root {
  --primary-color: #f13033;
  --primary-color-dark: #c3282b;
  --secondary-color: #f9f9f9;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.section__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__nav span {
  padding: 0 7px;
  font-size: 1.75rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.section__nav span:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 2px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: #f0c8c9;
  border-radius: 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

.header {
  /* background-image: url(" 642004.jpg"); */
  /* background-color: #050505; */
  /* background: rgba(23, 23, 23, 0.5); */
  /* background-position: center center; */
  /*background-size: cover cover;
  background-repeat: no-repeat;
  /* z-index: -1; */
  /* opacity: 0.8; */
  /*background: url(assests/images.jpeg);*/
  /* background-image: url(assests/goa.jpg); */
  image-rendering: -webkit-optimize-contrast;;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: url(assests/hero-hotel-guide-opacity.jpeg);
  /* height: 750px; */


}


.andrew{
    border: 1px solid black;
    background: white;
    /* width: 200px; */
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  font-family: poppins;
}

.link a:hover {
  color: var(--primary-color);
}